body {background-color: #8C6436;}

main {
    background-color: #2D3845;
    max-width: 1140px;
    margin: 0 auto;
}

h1, th, li {
    color: white;
}

body {
    text-align: center;
    line-height: 170%;;
}

table {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

li {
    list-style-type: none;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 20px;

  }